footer {
  font-size: 16px;
  font-weight: 900;

  p {
    margin-top: 1px;
    margin-bottom: 0;
  }

  a {
    text-decoration: none;

    &:first-child {
      margin-right: 1.5rem;
    }

    &:hover {
      color: #808080 !important;
    }
  }
}
