.container {
  .row {
    h1 {
      font-size: 90px;
      font-weight: 900;

      @media (max-width: 993px) {
        font-size: 65px;
      }

      @media (max-width: 768px) {
        font-size: 30px;
        text-align: center;
      }
    }

    p {
      @media (max-width: 768px) {
        text-align: center;
      }
    }

    .a-container {
      padding: 0;
      position: relative;
      display: inline-block;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.03);

        @media (max-width: 768px) {
          transform: scale(1.05);
        }
      }

      img {
        position: relative;
      }

      .text-img {
        padding: 10px;
        width: 100%;
        background-color: rgb(0, 0, 0, 0.7);
        position: absolute;
        bottom: 0%;
        margin: 0;
        color: #fff;
        text-transform: uppercase;
        font-weight: 900;

        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
    }
  }
}

.bg-light {
  hr {
    border-top: 2px solid;
  }

  h3 {
    font-weight: 900;

    .number {
      color: #cd2028;
    }
  }

  ::ng-deep.mat-form-field-type-mat-select:not(.mat-form-field-disabled)
    .mat-form-field-flex {
    background-color: #fff;
    box-shadow: 8px 8px 24px 0px rgba(128, 128, 128, 0.5);
  }

  ::ng-deep.mat-form-field-infix {
    width: 400px;
  }

  ::ng-deep.mat-select-arrow,
  ::ng-deep.mat-select-arrow-wrapper {
    color: #cd2028 !important;
  }

  ::ng-deep.mat-form-field-underline {
    display: none;
  }

  ::ng-deep mat-form-field span.mat-form-field-label-wrapper label {
    font-weight: 900;
    color: #000;
  }

  .brands {
    img {
      width: 100%;
      height: 190px;
      border: 10px solid #fff;
      box-shadow: 8px 8px 24px 0px rgba(128, 128, 128, 0.5);
      background-color: #fff;

      &:hover {
        box-shadow: 8px 8px 24px 0px rgba(128, 128, 128, 0.9);
      }
    }
  }
}
