<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark p-2">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleCollapsed()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse justify-content-between"
    id="navbarSupportedContent"
    [ngClass]="{ collapse: collapsed, 'navbar-collapse': true }"
  >
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item nav-main"
        [ngStyle]="{ 'margin-left': collapsed ? '30px' : '0px' }"
      >
        <a
          class="nav-link text-uppercase"
          routerLink="/our-work"
          (click)="collapsed = true"
          >Our work</a
        >
      </li>
      <li class="nav-item nav-main">
        <a
          class="nav-link text-uppercase"
          routerLink="/capabilities"
          (click)="collapsed = true"
          >Capabilities</a
        >
      </li>
      <li class="nav-item nav-main">
        <a
          class="nav-link text-uppercase"
          routerLink="/insights"
          (click)="collapsed = true"
          >Insights</a
        >
      </li>
      <li class="nav-item nav-main">
        <a
          class="nav-link text-uppercase"
          routerLink="/contact"
          (click)="collapsed = true"
          >Contact</a
        >
      </li>
    </ul>
    <a routerLink="/" (click)="collapsed = true">
      <img src="../../assets/sumo_icon.svg" height="50" />
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link text-uppercase"
          href="https://twitter.com/sumoheavy"
          target="_blank"
          ><i class="bi bi-twitter"></i
        ></a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-uppercase"
          href="https://www.linkedin.com/company/sumo-heavy-industries/"
          target="_blank"
          ><i class="bi bi-linkedin"></i
        ></a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-uppercase"
          href="https://www.instagram.com/sumoheavy/"
          target="_blank"
          ><i class="bi bi-instagram"></i
        ></a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-uppercase"
          href="https://github.com/sumoheavy"
          target="_blank"
          ><i class="bi bi-github"></i
        ></a>
      </li>
    </ul>
  </div>
</nav>
