<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark p-2">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
    <a routerLink="/">
      <img src="../../assets/sumo_icon.svg" height="35" />
    </a>
  </button>

  <div
    class="collapse navbar-collapse justify-content-between"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item nav-main" style="margin-left: 30px">
        <a class="nav-link text-uppercase" routerLink="/our-work">Our work</a>
      </li>
      <li class="nav-item nav-main">
        <a class="nav-link text-uppercase" routerLink="/capabilities"
          >Capabilities</a
        >
      </li>
      <li class="nav-item nav-main">
        <a class="nav-link text-uppercase" href="#">Insights</a>
      </li>
      <li class="nav-item nav-main">
        <a class="nav-link text-uppercase" routerLink="/contact">Contact</a>
      </li>
    </ul>
    <a routerLink="/">
      <img src="../../assets/sumo_icon.svg" height="50" />
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link text-uppercase"
          href="https://twitter.com/sumoheavy"
          target="_blank"
          ><i class="bi bi-twitter"></i
        ></a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-uppercase"
          href="https://www.linkedin.com/company/sumo-heavy-industries/"
          target="_blank"
          ><i class="bi bi-linkedin"></i
        ></a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-uppercase"
          href="https://www.instagram.com/sumoheavy/"
          target="_blank"
          ><i class="bi bi-instagram"></i
        ></a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-uppercase"
          href="https://github.com/sumoheavy"
          target="_blank"
          ><i class="bi bi-github"></i
        ></a>
      </li>
    </ul>
  </div>
</nav>
