<div class="intro-header-container">
  <div class="intro-header-img"></div>
  <div class="bottom-left">
    <a href="#" class="d-flex flex-column text-start">
      <span>See how SUMO Heavy helped Treehouse Brand Stores</span>
      <span>Optimize Their Magento Installs</span>
    </a>
  </div>
  <div class="intro-header-red-box">
    <h1 class="text-start"><b>We are</b></h1>
    <h2 class="text-start"><b>digital commerce.</b></h2>
    <p class="text-start">
      SUMO Heavy is a boutique digital commerce consulting firm with a core
      foundation of efficiency through process.
    </p>
    <p class="text-start">
      We help build high-performing digital commerce teams.
    </p>
  </div>
</div>
