.form-section {
  h1 {
    font-size: 60px;
    font-weight: 900;

    @media (max-width: 768px) {
      font-size: 30px;
    }
  }

  .home-button {
    margin-top: 2rem;
    padding: 7px 30px;
    font-weight: 700;
    color: #ce1125;
    text-transform: uppercase;
    border: 3px solid #ce1125;
    border-bottom-left-radius: 30% 100%;
    border-bottom-right-radius: 30% 100%;
    border-top-left-radius: 30% 100%;
    border-top-right-radius: 30% 100%;

    &:hover {
      border: 3px solid #000;
      color: #000;
    }

    &:disabled {
      color: rgb(156, 156, 156);
      border: 3px solid rgb(229, 229, 229);
      cursor: not-allowed;
      background-color: rgb(229, 229, 229);
    }
  }

  form {
    padding: 0 3rem;

    @media (max-width: 993px) {
      padding: 0;
    }

    ::ng-deep.mat-form-field-label,
    ::ng-deep.mat-focused,
    ::ng-deep.mat-input-element {
      color: #000 !important;
      caret-color: #000 !important;
    }

    ::ng-deep.mat-form-field-underline,
    ::ng-deep.mat-form-field-ripple {
      background-color: #000 !important;
    }
  }
}
