<div class="container-fluid bg-light form-section pt-5 pb-5">
  <h1 class="text-center">Learn more about SUMO Heavy</h1>
  <div class="d-flex justify-content-center m-3">
    <p>
      If you’d like to learn more about SUMO Heavy, drop us a line, give us a
      call or contact us on social media.
    </p>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <form
          [formGroup]="contactForm"
          (ngSubmit)="onSubmit(contactForm.value)"
        >
          <div class="row">
            <div class="col-12 col-md-6">
              <mat-form-field class="w-100">
                <mat-label>First Name</mat-label>
                <input matInput name="firstName" formControlName="firstName" />
                <mat-error
                  *ngIf="contactForm.controls['firstName'].errors?.['required'] && contactForm.controls['firstName'].touched || contactForm.controls['firstName'].errors?.['required'] && contactForm.controls['firstName'].dirty"
                  >First Name is required</mat-error
                >
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field class="w-100">
                <mat-label>Last Name</mat-label>
                <input matInput name="lastName" formControlName="lastName" />
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field class="w-100">
                <mat-label>Email</mat-label>
                <input matInput name="email" formControlName="email" />
                <mat-error
                  *ngIf="contactForm.controls['email'].errors?.['required'] && contactForm.controls['email'].touched || contactForm.controls['email'].errors?.['required'] && contactForm.controls['email'].dirty"
                  >Email is required</mat-error
                >
                <mat-error
                  *ngIf="contactForm.controls['email'].errors?.['email'] && contactForm.controls['email'].touched || contactForm.controls['email'].errors?.['email'] && contactForm.controls['email'].dirty"
                  >Please enter valid email</mat-error
                >
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field class="w-100">
                <mat-label>Company Name</mat-label>
                <input
                  matInput
                  name="companyName"
                  formControlName="companyName"
                />
                <mat-error
                  *ngIf="contactForm.controls['companyName'].errors?.['required'] && contactForm.controls['companyName'].touched || contactForm.controls['companyName'].errors?.['required'] && contactForm.controls['companyName'].dirty"
                  >Company Name is required</mat-error
                >
              </mat-form-field>
            </div>
          </div>
          <div class="text-center">
            <button
              type="submit"
              [disabled]="!contactForm.valid"
              class="home-button"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
