.capabilities {
  .header {
    .page-heading {
      font-weight: 900;
      font-size: 64px;
      color: #cd2028;
      letter-spacing: -1px;
    }

    .second-section-img {
      width: 300px;
      transform: translate(-82%);
    }
  }
}
