<div class="container capabilities p-5">
  <div class="row header g-3">
    <div class="col-12 col-md-6">
      <h1 class="page-heading m-2">
        Stunningly<br />
        Capable
      </h1>
    </div>
    <div class="col-12 col-md-6">
      <p class="p-5">
        Each client comes to us with their own unique set of challenges. From
        Agile Planning to Platform Migration to the dreaded Rescue – don't
        worry, we've got your back. But don't take our word for it – check the
        list below for just a small sample of what SUMO Heavy can do to help.
      </p>
    </div>
  </div>
</div>
