.details {
    .intro {
      position: relative;
  
      img {
        width: 100%;
        height: 600px;
        object-fit: cover;
        position: relative;
  
        @media (max-width: 768px) {
          height: auto;
        }
      }
  
      .text-img {
        color: #fff;
  
        h1 {
          background-color: #000;
          padding: 15px 30px;
          font-size: 40px;
          font-weight: 900;
          margin-top: -10px;
  
          @media (max-width: 768px) {
            font-size: 20px;
          }
        }
  
        h5 {
          background-color: #ce1125;
          padding: 15px 30px;
          font-size: 20px;
          font-weight: 900;
        }

        h6 {
            color: #fff;
            background-color: #000;
            font-weight: 900;
            margin-top: -10px;
            padding: 0 30px 15px 30px;

            span {
                color: #ce1125;;
            }
        }
  
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
    }
  }
  
  em {
    font-weight: 100;
  }