<app-intro-header></app-intro-header>
<div class="container-fluid second-section">
  <div class="row pt-5">
    <div class="col-2">
      <img
        class="second-section-img"
        src="../../assets/sumo_icon.svg"
        alt="Sumo Logo"
      />
    </div>
    <div class="col-12 col-lg-4 p-3 second-col">
      <div class="second-col-text">
        <h1>Boutique <span>by design.</span></h1>
        <p class="pt-3">
          We’re a diverse group of strategists, consultants, designers, and
          developers that create a significant impact.
        </p>
        <p>
          We build successful brands and create online retail solutions with
          proven results.
        </p>
      </div>
    </div>
    <div class="col-12 col-lg-6 p-3 third-col">
      <h4>The things we do:</h4>
      <p class="mb-4">
        A great digital commerce experience starts way before you check out (and
        it doesn’t end there, either). That’s why we have capabilities that help
        you succeed at every step of the way.
      </p>
      <div class="container buttons">
        <div class="row g-3">
          <div class="col-6 col-md-3 text-center">
            <button mat-raised-button>
              <img
                src="../../assets/icons/agile-planning.svg"
                height="54"
                width="54"
              />
              Agile Planning
            </button>
          </div>
          <div class="col-6 col-md-3 text-center">
            <button mat-raised-button>
              <img
                src="../../assets/icons/cost-savings.svg"
                height="54"
                width="54"
              />Cost Savings
            </button>
          </div>
          <div class="col-6 col-md-3 text-center">
            <button mat-raised-button>
              <img
                src="../../assets/icons/discovery.svg"
                height="54"
                width="54"
              />Discovery
            </button>
          </div>
          <div class="col-6 col-md-3 text-center">
            <button mat-raised-button>
              <img
                src="../../assets/icons/platform-migration.svg"
                height="54"
                width="54"
              />Platform Migration
            </button>
          </div>
          <div class="col-6 col-md-3 text-center">
            <button mat-raised-button>
              <img
                src="../../assets/icons/process-management.svg"
                height="54"
                width="54"
              />Process Management
            </button>
          </div>
          <div class="col-6 col-md-3 text-center">
            <button mat-raised-button>
              <img
                src="../../assets/icons/project-management.svg"
                height="54"
                width="54"
              />Project Management
            </button>
          </div>
          <div class="col-6 col-md-3 text-center">
            <button mat-raised-button>
              <img
                src="../../assets/icons/rescue.svg"
                height="54"
                width="54"
              />Rescue
            </button>
          </div>
          <div class="col-6 col-md-3 text-center">
            <button class="last" mat-raised-button>View All</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-light third-section mt-5">
  <div class="container p-4">
    <h1 class="text-center text-lg-end">No cart too big.</h1>
    <h3 class="text-center text-lg-end">Or small, for that matter.</h3>
    <div class="d-flex justify-content-center justify-content-lg-end">
      <p>
        We work with some of the world’s biggest brands to make their eCommerce
        businesses run faster and smarter, but we’ll also work with boutique
        brands to help make them ‘the next big thing’.
      </p>
    </div>
    <div class="text-center text-lg-end">
      <button type="button" class="home-button">Check out our full list</button>
    </div>
  </div>
  <div class="container p-4">
    <div class="row logo-grid">
      <div class="col-6 col-md-3">
        <img
          class="img-fluid sourpuss"
          src="../../assets/logo/Sourpuss.png"
          alt="Sourpuss"
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid treehouse"
          src="../../assets/logo/Treehouse.png"
          alt="Treehouse"
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid booze"
          src="../../assets/logo/Booze-Carriage.png"
          alt="Booze Carriage"
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid overtone"
          src="../../assets/logo/Overtone.png"
          alt="Overtone"
        />
      </div>
      <div class="w-100"></div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid crafters-box"
          src="../../assets/logo/Crafters-box.png"
          alt="The Crafters Box"
        />
      </div>
      <div class="col-6 col-md-3">
        <img class="img-fluid tyr" src="../../assets/logo/Tyr.png" alt="Tyr" />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid roku"
          src="../../assets/logo/Roku.png"
          alt="Roku"
        />
      </div>
      <div class="col-6 col-md-3">
        <img
          class="img-fluid pitney"
          src="../../assets/logo/Pitney-Bowes.png"
          alt="Pitney Bowes"
        />
      </div>
    </div>
  </div>
</div>
<div class="fourth-section">
  <div class="container">
    <h1>We are authority.</h1>
    <p>
      In our ten years of business, we’ve seen a lot. We’ve seen trends come and
      go, platforms and processes evolve. But one thing that doesn’t change is
      our love for eCommerce.
    </p>
    <div class="row mt-4 content-grid">
      <div *ngFor="let cardData of homeCardsData" class="col-12 col-lg-4">
        <div class="card" [routerLink]="cardData.link">
          <img
            class="card-img-top"
            [src]="cardData.image"
            [alt]="cardData.alt"
          />
          <div class="card-body">
            <p>{{ cardData.date | date : "MMM y" }}</p>
            <a>{{ cardData.name }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5 text-center">
      <button class="home-button">See all our content</button>
    </div>
  </div>
</div>
<app-form></app-form>
