<app-intro-header></app-intro-header>
<div class="container-fluid second-section">
  <div class="row pt-5">
    <div class="col-2">
      <img
        class="second-section-img"
        src="../../assets/sumo_icon.svg"
        alt="Sumo Logo"
      />
    </div>
    <div class="col-12 col-lg-4 p-3 second-col">
      <div class="second-col-text">
        <h1>Boutique <span>by design.</span></h1>
        <p class="pt-3">
          We’re a diverse group of strategists, consultants, designers, and
          developers that create a significant impact.
        </p>
        <p>
          We build successful brands and create online retail solutions with
          proven results.
        </p>
      </div>
    </div>
    <div class="col-12 col-lg-6 p-3 third-col">
      <h4>The things we do:</h4>
      <p class="mb-4">
        A great digital commerce experience starts way before you check out (and
        it doesn’t end there, either). That’s why we have capabilities that help
        you succeed at every step of the way.
      </p>
      <div class="container buttons">
        <div class="row g-3">
          <div class="col-6 col-md-3 text-center">
            <button mat-raised-button routerLink="/capabilities/agile-planning">
              <img
                src="../../assets/icons/agile-planning.svg"
                height="54"
                width="54"
              />
              Agile Planning
            </button>
          </div>
          <div class="col-6 col-md-3 text-center">
            <button mat-raised-button routerLink="/capabilities/cost-savings">
              <img
                src="../../assets/icons/cost-savings.svg"
                height="54"
                width="54"
              />Cost Savings
            </button>
          </div>
          <div class="col-6 col-md-3 text-center">
            <button mat-raised-button routerLink="/capabilities/discovery">
              <img
                src="../../assets/icons/discovery.svg"
                height="54"
                width="54"
              />Discovery
            </button>
          </div>
          <div class="col-6 col-md-3 text-center">
            <button mat-raised-button routerLink="/capabilities/platform-migration">
              <img
                src="../../assets/icons/platform-migration.svg"
                height="54"
                width="54"
              />Platform Migration
            </button>
          </div>
          <div class="col-6 col-md-3 text-center">
            <button mat-raised-button routerLink="/capabilities/process-management">
              <img
                src="../../assets/icons/process-management.svg"
                height="54"
                width="54"
              />Process Management
            </button>
          </div>
          <div class="col-6 col-md-3 text-center">
            <button mat-raised-button routerLink="/capabilities/project-management">
              <img
                src="../../assets/icons/project-management.svg"
                height="54"
                width="54"
              />Project Management
            </button>
          </div>
          <div class="col-6 col-md-3 text-center">
            <button mat-raised-button routerLink="/capabilities/rescue">
              <img
                src="../../assets/icons/rescue.svg"
                height="54"
                width="54"
              />Rescue
            </button>
          </div>
          <div class="col-6 col-md-3 text-center">
            <button routerLink="/capabilities" class="last" mat-raised-button>
              View All
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-light third-section mt-5">
  <div class="container p-4">
    <h1 class="text-center text-lg-end">No cart too big.</h1>
    <h3 class="text-center text-lg-end">Or small, for that matter.</h3>
    <div class="d-flex justify-content-center justify-content-lg-end">
      <p>
        We work with some of the world’s biggest brands to make their eCommerce
        businesses run faster and smarter, but we’ll also work with boutique
        brands to help make them ‘the next big thing’.
      </p>
    </div>
    <div class="text-center text-lg-end">
      <button routerLink="/our-work" type="button" class="home-button">
        Check out our full list
      </button>
    </div>
  </div>
  <div class="container p-4">
    <div class="row logo-grid">
      <div *ngFor="let logo of logos" class="col-6 col-md-3">
        <img [class]="logo.class" [src]="logo.src" [alt]="logo.alt" />
      </div>
    </div>
  </div>
  <div class="fourth-section">
    <div class="container">
      <h1>We are authority.</h1>
      <p>
        In our ten years of business, we’ve seen a lot. We’ve seen trends come
        and go, platforms and processes evolve. But one thing that doesn’t
        change is our love for eCommerce.
      </p>
      <div class="row mt-4 content-grid">
        <div
          *ngFor="let post of blogPosts | slice : 0 : 3"
          class="col-12 col-lg-4"
        >
          <div class="card" [routerLink]="post.link">
            <img class="card-img-top" [src]="post.image" [alt]="post.alt" />
            <div class="card-body">
              <p>{{ post.date | date : "MMM y" }}</p>
              <a>{{ post.name }}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5 text-center">
        <button class="home-button" routerLink="/insights">See all our content</button>
      </div>
    </div>
  </div>
  <app-form></app-form>
</div>
