<app-intro-header></app-intro-header>
<div class="container-fluid second-section">
  <div class="row pt-5">
    <div class="col-2">
      <img
        class="second-section-img"
        src="../../assets/sumo_icon.svg"
        alt="Sumo Logo"
      />
    </div>
    <div class="col-12 col-lg-4 p-3 second-col">
      <div class="second-col-text">
        <h1>Boutique <span>by design.</span></h1>
        <p class="pt-3">
          We’re a diverse group of strategists, consultants, designers, and
          developers that create a significant impact.
        </p>
        <p>
          We build successful brands and create online retail solutions with
          proven results.
        </p>
      </div>
    </div>
    <div class="col-12 col-lg-6 p-3 third-col">
      <h4>The things we do:</h4>
      <p>
        A great digital commerce experience starts way before you check out (and
        it doesn’t end there, either). That’s why we have capabilities that help
        you succeed at every step of the way.
      </p>
      <div class="container-fluid buttons">
        <div class="row g-3">
          <div class="col-6 col-md-3 text-center">
            <button mat-raised-button>
              <img
                src="../../assets/icons/agile-planning.svg"
                height="54"
                width="54"
              />
              Agile Planning
            </button>
          </div>
          <div class="col-6 col-md-3 text-center">
            <button mat-raised-button>
              <img
                src="../../assets/icons/cost-savings.svg"
                height="54"
                width="54"
              />Cost Savings
            </button>
          </div>
          <div class="col-6 col-md-3 text-center">
            <button mat-raised-button>
              <img
                src="../../assets/icons/discovery.svg"
                height="54"
                width="54"
              />Discovery
            </button>
          </div>
          <div class="col-6 col-md-3 text-center">
            <button mat-raised-button>
              <img
                src="../../assets/icons/platform-migration.svg"
                height="54"
                width="54"
              />Platform Migration
            </button>
          </div>
          <div class="col-6 col-md-3 text-center">
            <button mat-raised-button>
              <img
                src="../../assets/icons/process-management.svg"
                height="54"
                width="54"
              />Process Management
            </button>
          </div>
          <div class="col-6 col-md-3 text-center">
            <button mat-raised-button>
              <img
                src="../../assets/icons/project-management.svg"
                height="54"
                width="54"
              />Project Management
            </button>
          </div>
          <div class="col-6 col-md-3 text-center">
            <button mat-raised-button>
              <img
                src="../../assets/icons/rescue.svg"
                height="54"
                width="54"
              />Rescue
            </button>
          </div>
          <div class="col-6 col-md-3 text-center">
            <button class="last" mat-raised-button>View All</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
